{% extends '_layout/base.html.twig' %}

{% block section %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Monitoring</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col-12 col-md-4 mg-b-10 mg-t-10 mg-sm-t-0">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-bold mg-b-10">
                   Aujourd'hui
                </h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-bold tx-rubik mg-b-10 mg-r-5 lh-1">{{ days }} </h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mg-b-10 mg-t-10 mg-sm-t-0">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-bold mg-b-10">
                    7 derniers jours
                </h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-bold tx-rubik mg-b-10 mg-r-5 lh-1">{{ weeks }} </h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mg-b-10 mg-t-10 mg-sm-t-0">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-bold mg-b-10">
                    30 derniers jours
                </h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-bold tx-rubik mg-b-10 mg-r-5 lh-1">{{ months }} </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-preview">
        <table class="table table-orders">
            <thead class="tb-odr-head">
            <tr class="tb-odr-item">
                <th>ID</th>
                <th>Méthode</th>
                <th>Demande</th>
                <th>Réponse</th>
                <th>Code Réponse</th>
                <th>Temps Total</th>
                <th class="tb-odr-action">&nbsp;</th>
            </tr>
            </thead>
            <tbody class="tb-odr-body">
            {% for item in items %}
                <tr class="tb-odr-item">
                    <td>{{ item.method }}</td>
                    <td>{{ item.requested_at | date('H:i:s') }}</td>
                    <td>{{ item.responded_at | date('H:i:s') }}</td>
                    <td>{{ item.responseCode }}</td>
                    <td>{{ (item.requested_at | date('U') - item.respondedAt | date('U')) | date('H:i:s') }}</td>
                    <td class="tb-odr-action">
                        <div class="tb-odr-btns d-none d-md-inline">
                            <a href="#" class="btn btn-sm btn-primary">Payload</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
