{% extends '_layout/base.html.twig' %}

{% block section %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Subscriptions</h3>
            </div>
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="more-options">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt">
                                <a href="#" class="btn btn-icon btn-primary d-md-none">
                                    <em class="icon ni ni-plus"></em>
                                </a>
                                <a href="#" class="btn btn-primary d-none d-md-inline-flex">
                                    <em class="icon ni ni-plus"></em><span>Ajouter</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card card-preview">
        <table class="table table-orders">
            <thead class="tb-odr-head">
            <tr class="tb-odr-item">
                <th>Chat ID</th>
                <th>Promotion</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Actif</th>
                <th class="tb-odr-action">&nbsp;</th>
            </tr>
            </thead>
            <tbody class="tb-odr-body">
                {% for item in items %}
                    <tr class="tb-odr-item">
                        <td><a target="_blank" href="https://t.me/{{ item.name }}">{{ item.chatId }}</a></td>
                        <td>{{ item.promotion }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.createdAt | date }}</td>
                        <td>
                           {% if item.active == 1 %}
                               <span class="badge badge-dot badge-success">Actif</span>
                           {% else %}
                               <span class="badge badge-dot badge-warning">Inactif</span>
                           {% endif %}
                        </td>
                        <td class="tb-odr-action">
                            <div class="tb-odr-btns d-none d-md-inline">
                                <a href="#" class="btn btn-sm btn-primary">View</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
